body {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 4px;
    min-height: 90vh;

    background-color: #1f2937;
}

.gridRow {
    display: flex;
    gap: 4px;
    flex: 1;
}

.element {
    flex: 1;
    background-color: white;
}